/* Variables */
:root {
	--view-width: 350px;
	--color-duo: #58cc02;
	--color-macaw: #1cb0f6;
	--color-bee: #ce82ff;
	--color-beak: #f49000;
	--color-swan: #e5e5e5;
	--color-eel: #4b4b4b;
}

/* Fonts */
@font-face {
	font-family: tiltNeon;
	font-style: normal;
	font-weight: 700;
	src: url(./fonts/TiltNeon-Regular.ttf) format("truetype");
}

/* HTML */
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	width: var(--view-width);
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 2px solid var(--color-swan);
	padding: 15px 0;
}

header img {
	width: 15%;
	margin-right: 5vw;
}

header span {
	color: var(--color-eel);
	font-family: tiltNeon;
	font-weight: bold;
	font-size: 10vw;
}

main section {
	display: flex;
	flex-direction: column;
	padding: 15px 10px;
}

main section article {
	display: flex;
	position: relative;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 25px;
}

main section article:first-child::after {
    content: "";
    opacity: .5;
    display: block;
    width: 90%;
    height: 2px;
    border-radius: 50px;
    background-color: var(--color-swan);
    margin-top: 67px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

main section article:not(:last-child) {
	margin-bottom: 15px;
}

main section article .switch {
	margin-right: 5vw;
}

main section article span {
	font-size: 15px;
}
main section article span::first-letter {
    text-transform:capitalize;
}


/* Toggle Switch */
.switch {
	position: relative;
    display: inline-block;
    width: 57px;
    height: 24px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 24px;
	width: 57px;
	background-color: var(--color-swan);
	transition: background-color .1s ease;
	border-radius: 34px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 34px;
	width: 32px;
	background: white;
    border: solid var(--color-swan);
	border-radius: 10px;
    border-width: 2px 2px 4px;
    box-sizing: border-box;
	top: 50%;
	left: 0;
	transition: left .2s;
	transform: translateY(-50%);
}

input:checked + .slider {
	background-color: var(--color-macaw);
}

input:focus + .slider {
	box-shadow: 0 0 1px var(--color-macaw);
}

input:checked + .slider:before {
	left: 25px;
	border: solid var(--color-macaw);
	border-width: 2px 2px 4px;
}

input:disabled + .slider {
	opacity: .5 !important;
	cursor: not-allowed !important;
}